.row
  .col.s4.offset-s4
    h2
      | Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        br
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        br
        = f.password_field :password, autocomplete: "off"

      .actions
        .col.s6
          = f.submit "Log in", class: "waves-effect waves-teal btn-large gymtoy-primary z-depth-0"
        .col.s6
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me
          = render "users/shared/links"
