= form_for @adress do |f|
  .col.s6
    = f.label :address
    = f.text_field :address
  .col.s6
    = f.label :name
    = f.text_field :name
    = f.hidden_field :kind, value: "work"
    = f.submit "Add work adress", class: "waves-effect waves-teal btn-large gymtoy-primary z-depth-0"
