= form_for @gym do |f|
  .col.s6
    = f.label :open
    = f.time_field :open, class: "timepicker"
  .col.s6
    = f.label :close
    = f.time_field :close, class: "timepicker"
  .col.s12
    = f.label :name
    = f.text_field :name
  .col.s12
    = f.fields_for :adress do |adress_form|
      = adress_form.label :name, "adress name"
      = adress_form.text_field :name
      = adress_form.label :address
      = adress_form.text_field :address
    = f.submit "Add home adress", class: "waves-effect waves-teal btn-large gymtoy-primary z-depth-0"

javascript:
  $('.timepicker').pickatime({
      default: 'now',
      twelvehour: false, // change to 12 hour AM/PM clock from 24 hour
      donetext: 'OK',
  });
