- unless gym.id.blank?
  .col.s4
    .card.z-depth-0
      .card-image
        = image_tag google_map(location: [gym.adress.latitude, gym.adress.longitude].join(','))
      .card-content
        span.card-title
          = gym.name
        p
          = gym.adress.address
        p Open: #{gym.open.to_s.split(" ")[1]}
        p Close: #{gym.close.to_s.split(" ")[1]}
        p Gym manager: #{gym.user.email}
