li.collection-item.transparent
  span.title
    = adress.name
  - if adress.is_home_adress?
    span.secondary-content
      = link_to "set as home adress", update_main_home_adress_path(default_home_adress: adress.id), method: :post, remote: true, id: "home-adress-link"
  - if adress.is_work_adress?
    span.secondary-content
      = link_to "set as work adress", update_main_work_adress_path(default_work_adress: adress.id), method: :post, remote: true, id: "work-adress-link"
javascript:
  $(document).ready ->
  $("#home-adress-link").on("ajax:success", (e, data, status, xhr) ->
    $("#home-title").html xhr.responseText
  $("#work-adress-link").on("ajax:success", (e, data, status, xhr) ->
    $("#work-title").html xhr.responseText
