h2 Este es un empleado
.row
  .col.s6
    .row
      .col.s6
        - unless current_user.is_empty_integer?(current_user.default_work_adress)
          = render "adresses/work_main"
      .col.s6
        ul.collection
          = render current_user.work_adresses
  .col.s6
    = render "adresses/forms/work"
