.card.z-depth-0
  .card-image
    = image_tag google_map(location: [current_user.main_home_adress.latitude, current_user.main_home_adress.longitude].join(','))
  .card-content
    span.card-title#home-title
      = current_user.main_home_adress.name
