h2 Este es un regular
.row
  .col.s6
    .row
      .col.s6
        - unless current_user.is_empty_integer?(current_user.default_home_adress)
          = render "adresses/home_main"
      .col.s6
        ul.collection
          = render current_user.home_adresses
      .col.s12
        = render "adresses/forms/home"
  .col.s6
    .row
      .col.s6
        - unless current_user.is_empty_integer?(current_user.default_work_adress)
          = render "adresses/work_main"
      .col.s6
        ul.collection
          = render current_user.work_adresses
      .col.s12
        = render "adresses/forms/work"
