.card.z-depth-0
  .card-image
    = image_tag google_map(location: [current_user.main_work_adress.latitude, current_user.main_work_adress.longitude].join(','))
  .card-content
    span.card-title#work-title
      = current_user.main_work_adress.name
