.row
  .col.s12
    - if current_user.is_manager?
      = render "adresses/manager"
    - if current_user.is_regular?
      = render "adresses/regular"
    - if current_user.is_gympass?
      = render "adresses/gympass"
