/* colores */
@import "materialize/components/color";
$primary-color: #FF1933 !default;
$secondary-color: #666666 !default;
$ambiance-color:  #E2E2E2 !default;
@import "materialize";
@import "material_icons";

/* footer adhesivo - sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $ambiance-color;
}
main {
  flex: 1 0 auto;
}
.gymtoy-primary{
  background-color: $primary-color;
}
* .gymtoy-primary-text{
  color: $primary-color;
}
.gymtoy-secondary{
  background-color: $secondary-color;
}
* .gymtoy-secondary-text{
  color: $secondary-color;
}
