doctype html
html
  head
    title
      | Gympass Toy
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = render :file =>"layouts/header"
    main
      .row
        = render "shared/flash_messages"
        = yield
= render :file =>"layouts/footer"
