.container
  .row
  .col.s12
    .card.gymtoy.z-depth-0.transparent
      .card-content
        span.cart-title.gymtoy-primary-text
          h4 User registration
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .field
            = f.label :type
              | Select user type
            br
            = f.select(:user_type) do
              - [['Gym member', 'regular'], ['Gym manager', 'manager']].each do |c|
                = content_tag(:option, c.first, value: c.last)
          .field
            = f.label :name
            br
            = f.text_field :name, autofocus: true
          .field
            = f.label :email
            br
            = f.email_field :email, autocomplete: "email"
          .field
            = f.label :password
            - if @minimum_password_length
              em
                | (
                = @minimum_password_length
                |  characters minimum)
            br
            = f.password_field :password, autocomplete: "off"
          .field
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off"
          .actions
            .row
              .col.s6
                = f.submit "Sign up", class: "waves-effect waves-teal btn-large gymtoy-primary z-depth-0"
              .col.s6
                = render "users/shared/links"
javascript:
  $(document).ready(function() {
      $('select').material_select();
    });
